
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="font-weight-bold py-3 mb-4">
     Add Product
</h4>

<div class="card mb-4">
    <h6 class="card-header">
        Product
    </h6>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label class="form-label">Product Name</label>
                <input type="text" class="form-control" placeholder="Product Name">
            </div>
            <div class="form-group">
                <label class="form-label w-100">File input</label>
                <input type="file">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

